/*survey creation*/
/*.widget-container {
  width: 500px;
}

.widget-container .widget{
  padding-right: 20%;
  padding-left: 20%;
  width: 80%;
}*/

.survey-question-mcq ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#survey-inventory {
  display: none;
}

div.survey .selected {
  background-color: red;
}

div.survey .unselected {
  background-color: white;
}
/*survey creation*/
