/* global background color*/




/*survey creation*/
.row {
  padding-top: 50px;
}
.survey {
  background-color: #FFF;

}

.survey-question-mcq ol {
  list-style-type: upper-roman;
}

#survey-inventory {
  display: none;
}

.widget-container > .widget {
  padding-top: 10px;
  padding-bottom: 5px;
  margin-bottom: 5px;

}

div.survey .selected > .survey-question-remove {
  display: inline;
}

div.survey .unselected > .survey-question-remove {
  display:none;
}

div.survey .selected {
  background-color: #ebebeb;
  border-radius: 10px;
  -webkit-box-shadow: 0px 6px 6px -6px #777;
  -moz-box-shadow: 0px 6px 6px -6px #777;
  box-shadow: 0px 6px 6px -6px #777;
}

div.survey .unselected {
  background-color: #FFF;
}

/*survey creation*/

/* box shadow effects */
.box-shadow
{
  position: relative;
  background-color: white;
}
.box-shadow:before, .box-shadow:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg)
}
.box-shadow:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
/* box shadow effects */


/* form-effects */

.form-effects{
  -webkit-box-shadow: 5px 10px 6px -6px #777;
  -moz-box-shadow: 5px 10px 6px -6px #777;
  box-shadow: 0px 10px 6px -6px #777;
}

.form-effects:before{
  -webkit-box-shadow: 5px 10px 6px -6px #777;
  -moz-box-shadow: 5px 10px 6px -6px #777;
  box-shadow: 0px 10px 6px -6px #777;
}

.form-effects:after{
  -webkit-box-shadow: 5px 100px 6px -6px #777;
  -moz-box-shadow: 5px 10px 6px -6px #777;
  box-shadow: 0px 10px 6px -6px #777;
}

/* form effects */
