<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/">Survey Gorilla</a>
      <% unless @current_user %>
      <form class="navbar-form pull-right" action="/signin" method="get">
        <input type="text" name="signin[email]" placeholder="Email" required="required">
        <input type="password" name="signin[password]" placeholder="Password" required="required">
        <button type="submit" class="btn">Sign in</button>
      </form>
      <% else %>
      <ul class="nav pull-right">
        <li><a href="#"><%= "#{@current_user.username}"%></a></li>
        <li><form class="navbar-form" action="/survey" method="post"><button type="submit" class="btn">Create a survey</button></form></li>
      </ul>
      <% end %>
  </div>
</div>
