<div id="signup">
    <form  action="/signup" method="Post"> 
        <h1> Sign up </h1> 
        <p> 
            <label for="signup-username">Your username</label>
            <input id="signup-username" name="signup[username]" required="required" type="text" placeholder="mysuperusername690" />
        </p>
        <p> 
            <label for="signup-email"> Your email</label>
            <input id="signup-email" name="signup[email]" required="required" type="email" placeholder="mysupermail@mail.com"/> 
        </p>
        <p> 
            <label for="signup-password" class="youpasswd" data-icon="p">Your password </label>
            <input id="signup-password" name="signup[password]" required="required" type="password" placeholder="eg. X8df!90EO"/>
        </p>
        <p class="signup button"> 
            <input type="submit" value="Sign up"/> 
        </p>
    </form>
</div>

