<div class="survey">
  <table>
    <tr>
      <td>Survey Title</td>
      <td>Created at</td>
      <td>link</td>
    </tr>
    <% @surveys.each do |survey| %>
    <tr>
      <td><%= survey.title %></td>
      <td><%= formate_date(survey.created_at) %></td>
      <td><%= survey.token %></td>
    </tr>
    <% end %>
  </table>
</div>
