<div class="control-group survey-question-mcq-q unit">
  <label class="control-label" for="questions[][options][]">Option</label>
  <div class="controls">
    <input type="text" name="questions[][options][]" placeholder="Options">
  </div>
</div>

