<div class="survey-question-choices tq-widget"> 
  <ol>  
    <li>
      <textarea readonly>Paragraph Answer.</textarea>
    </li>
  </ol>
      <%= erb :_survey_question_foot, :layout => false %>
</div>
