<div class="survey-question-choices mcq-widget">
 
<ol>
  <%= erb :_survey_question_mcq_q, :layout => false %>
</ol> 
  <%= erb :_survey_question_foot, :layout => false %>
  <div class="control-group"><div class="controls"><button class="btn" type="button" id="add-choice">Add Another Choice</Button></div></div>
</div>
