<div class="survey-question-foot">
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox" name="questions[][required]" value="true"> Required Question
      </label>
    </div>
  <input class="survey-question-position" type="hidden" name="questions[][position]" value="">
</div>
