<div class="survey-question-tq widget">
  <%= erb :_survey_question_head, :layout => false %> 
  <ol>  
    
    <li>
      <input type="text" name="questions[][options][]" placeholder="Options">
    </li>
    <li>
      <input type="text" name="questions[][options][]" placeholder="Options">
    </li>    
  </ol>
      <input type="checkbox" name="questions[][required]" value="true">Required Question<br>
</div>

