<div class="survey-question-head"> 
  <li>
    <input type="text" name="questions[][title]" placeholder="Question1">
  </li>
  <li>
    <input type="text" name="questions[][help_text]" placeholder="help-text">
  </li>
  <li>
    <select name="questions[][type]" class="survey-question-type">
      <option value="MultipleChoice">Multiple Choice</option>
      <option value="TextQuestion">Text Question</option>
    </select>
  </li>
</div>
