<div class="survey-question selected widget">
  <a class="survey-question-remove" href="#"><i class="icon-remove offset7"></i></a>
  <%= erb :_survey_question_head, :layout => false %> 
  <%= erb :_survey_question_mcq_choices, :layout => false %> 
</div>
