<div class="survey-question-mcq-widget widget">
  <ol>  
    <input type="text" name="questions[][title]" placeholder="Question1">
    <li>
      <input type="text" name="questions[][help_text]" placeholder="help-text">
    </li>
    <li>
      <input type="text" name="questions[][options][]" placeholder="Options">
    </li>
    <li>
      <input type="text" name="questions[][options][]" placeholder="Options">
    </li>    
  </ol>
</div>
