<div class="survey-answer-mcq widget">
  <h1><%= locals[:question].title %></h1>
  <ul>
    <% if question.type == "MultipleChoice" %>
      <% question.options.each do |option| %>
      <li>

        <input type="checkbox" name="options[<%= question.id %>]" value="<%= option.id %>"><%= option.choice%><br>
      </li>
      <%end%>
    <%end%>
  </ul>
</div>
