<div class="survey-question-mcq widget">
<input type="checkbox" name="vehicle" value="Car" checked> I have a car</br>
<input type="checkbox" name="vehicle" value="Bike" checked> I have a bike</br>
</div>