<div class="survey-question-foot">
  <input type="checkbox" name="questions[][required]" value="true">Required Question<br>
  <input class="survey-question-position" type="hidden" name="questions[][position]" value=""><br>
</div>