<div class="survey-answer-mcq widget">
    <% if question.type == "MultipleChoice" %>
        <% if question.responses.first %>
          Response: <%= question.responses.first.option.choice %>
        <% else %>
          <p>Response: Unanswered</p>
        <%end %>
    <% else %>
        <% if question.responses.first.answer.empty? %>
          <p>Response: Unanswered</p>
        <% else %>
          <p>Response: <%= question.responses.first.answer %></p>
        <% end %>
    <%end%>
</div>

