<div class='modal-container'>
  <h2> Sign in </h2> 
  <form class="signin-visitor" action="/view/<%= survey.token%>" method="post">
    <input type="text" name="signin[email]" placeholder="Email" required="required"><br>
    <input type="password" name="signin[password]" placeholder="Password" required="required"><br>
    <button type="submit" class="btn">Sign in</button>
  </form>

  <form class="signup-visitor" action="/view/<%=survey.token%>" method="Post"> 
    <h2> Sign up </h2> 
    <input id="signup-username" name="signup[username]" required="required" type="text" placeholder="Username" /><br>
    <input id="signup-email" name="signup[email]" required="required" type="email" placeholder="Email"/><br>
    <input id="signup-password" name="signup[password]" required="required" type="password" placeholder="Password"/><br>
    <button class="btn btn-primary" type="submit"/>Sign up</button>
  </form>
</div>


