<div class="survey-question-choices tq-widget"> 

<!-- <div class="control-group">
  <div class="controls">
    <textarea class="input-xlarge" rows="4" readonly>Paragraph Answer.</textarea>
  </div>
</div> -->
      <%= erb :_survey_question_foot, :layout => false %>
</div>
