<div class="index-body">
  <%= partial(:_index_signup) %>
</div>

    <footer class="navbar navbar-fixed-bottom">
      <div class="container">
      <div class="row">
        <div class="span12 pagination-centered"><h3>Survey Gorilla developed by</h3><br></div>
        <div class="span2 offset1"><a href="http://github.com/angiebui"><img class="img-circle" width="140" src="img/angie.jpeg"></a><p class="pagination-centered">Angie</p></div>
        <div class="span2 offset1"><a href="http://github.com/SamSamskies"><img class="img-circle" width="140" src="img/steven.jpeg"></a><p class="pagination-centered">Sam</p></div>
        <div class="span2 offset1"><a href="http://github.com/slicebo123"><img class="img-circle" width="140" src="img/sean.jpeg"></a><p class="pagination-centered">Sean</p></div>
        <div class="span2 offset1"><a href="http://github.com/sidazhang"><img class="img-circle" width="140" src="img/sidney.jpeg"></a><p class="pagination-centered">Sidney</p></div>
      </div>
      <div class="row"></div>
    </footer>
