<div class="container">
  <%= partial(:_index_signup) %>
</div>
<!--   <div class="row footer" style="background-color:red">
    <div class="span3"><img class="img-circle" width="140" src="img/angie.jpeg"></div>
    <div class="span3"><img class="img-circle" width="140" src="img/steven.jpeg"></div>
    <div class="span3"><img class="img-circle" width="140" src="img/sean.jpeg"></div>
    <div class="span3"><img class="img-circle" width="140" src="img/sidney.jpeg"></div>
  </div>
 -->
