<html>
  <body>
    <button id="copy-button" data-clipboard-text="Copy Me!" title="Click to copy me.">Copy to Clipboard</button>
    <script src="/js/ZeroClipboard.js"></script>
    <script src="/js/application.js"></script>
<script type="text/javascript" src="js/jquery.zclip.js"></script>
  </body>
</html>
