<div class="survey">
  <form action="/test" method='POST'>
    <select>
      <option name="question" value="MultipleChoice">Multiple Choice</option>
      <option name="question" value="TextQuestion">Text Question</option>
    </select>
    <input type='submit' value='Done'/>
  </form>
</div>

