<div class="survey">
  <form action="/view/<%= @survey.token %>" method='POST'>
    <div class="widget-container">
      <%@questions.each do |question|%>
        <% if @completed %>
          <%= partial(:_survey_answer_completed, question: question) %>
        <% else %>
          <%= partial(:_survey_answer, question: question) %>
          <input type='submit' value='Done'/>
        <% end %>
        
      <% end %>
    </div>
  </form>
</div>
