<div class="survey">
  <form action="/view/<%= @survey.token %>" method='POST'>
    <div class="widget-container">
      <% if @completed %>
        <%= "You completed this survey already." %>
      <% else %>
        <%@questions.each do |question|%>
        <%= partial(:_survey_answer, question: question) %>
        <% end %>
        <input type='submit' value='Done'/>
      <% end %>
    </div>
  </form>
</div>
